<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Bank Liquidity Portal!</title>
    <style>
        body {
            width: 35em;
            margin: 0 auto;
            font-family: Tahoma, Verdana, Arial, sans-serif;
        }
    </style>
</head>
<body>
<h1>Bank Liquidity Portal</h1>

<ul>
    <li><strong><a href="/createCustomer">Create New Customer</a></strong></li>
    <li><strong><a href="/createBankAccount">Create Bank Account for Customer</a></strong></li>
</ul>

<p><em>Thank you for visiting the Bank Liquidity Portal</em></p>
</body>
</html>
