<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Kubernetes Books!</title>
    <style>
        body {
            width: 35em;
            margin: 0 auto;
            font-family: Tahoma, Verdana, Arial, sans-serif;
        }
    </style>
</head>
<body>
<h1>Welcome to Kubernetes Books!</h1>

<ul>
    <li><strong><a href="http://172.27.78.33/9621.kubernetes-in-action.pdf">Kubernetes In Action</a></strong> - the best book</li>
    <li><strong><a href="http://172.27.78.33/9640.docker-cookbook.pdf">Docker Cookbook</a></strong></li>
    <li><strong><a href="http://172.27.78.33/9693.docker-in-action.pdf">Docker In Action</a></strong></li>
    <li><strong><a href="http://172.27.78.33/9777.docker-up-and-running.pdf">Docker Up And Running</a></strong></li>
    <li><strong><a href="http://172.27.78.33/9916.kubernetes-tutorial.pdf">Kubernetes Tutorial</a></strong></li>
    <li><strong><a href="http://172.27.78.33/9952.docker-in-the-cloud.pdf">Docker In The Cloud</a></strong></li>
    <li><strong><a href="http://172.27.78.33/9991.docker-cheatsheet.pdf">Docker Cheatsheet</a></strong></li>
</ul>

<p><em>Thank you for using nginx.</em></p>
</body>
</html>
