<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Bank Liquidity Portal!</title>
    <style>
        body {
            width: 35em;
            margin: 0 auto;
            font-family: Tahoma, Verdana, Arial, sans-serif;
        }
    </style>
</head>
<body>
<h1>Bank Liquidity Portal</h1>

<ul>
    <li><strong><a href="/createCustomer">Create New Customer</a></strong></li>
</ul>

<div th:unless="${#lists.isEmpty(customers)}">
    <table style="width:100%">
        <tr>
            <th style="text-align:left">Customer Name</th>
            <th style="text-align:left">City of Residence</th>
            <th style="text-align:left">Total Balance</th>
            <th style="text-align:left">&nbsp;</th>
        </tr>
        <tr th:each="customer : ${customers}">
            <td><span th:text="${customer.name}"></span></td>
            <td><span th:text="${customer.city}"></span></td>
            <td>£0.00</td>
            <td><strong><a th:href="@{/addBankAccount?customerId=${customer.id}}">Add Bank Account</a></strong></td>
        </tr>
    </table>
</div>

<p><em>Thank you for visiting the Bank Liquidity Portal</em></p>
</body>
</html>
